:root {
    --font-family: 'Roboto', sans-serif;

    --font-size-descroption: 14px;
    --font-size-title: 18px;
    --font-size-h2: 24px;
    --font-size-price: 21px;
    --font-size-footer: 12px;

    --font-weight-title: 700;

    --line-hight-total: 1.172;
    --line-hight-footer: 2.333;
    --line-height-telephone: 1.187;

    --bg-color-btn: #f13c6e;
    --bg-color-second: #efefef;
    --bg-color-basic: #fff;
    
    --color-nav: #333333;
    --color-h1: #ffffff;
    --color-main: #000000;
    --color-footer: #828282;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size-descroption);
    line-height: var(--line-hight-total);
    color: var(--color-main);
    background-color: var(--bg-color-basic);
}

h1 {
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--bg-color-basic);
    line-height: 35px;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--nav {  
    padding: 17px 20px 16px;  
}

.header-nav__list {
    display: flex;
    gap: 31px;
    justify-content: center;
    flex-wrap: wrap;
}

.container--header {
}

.header-nav {
    background-color: var(--bg-color-second);
    min-height: 50px;
}

.header-nav__item {  
    
}

.header-nav__link {
       color: var(--color-nav);
       line-height: 16px;
       font-size: var(--font-size-descroption);
}

.header-information {
    border-bottom: 1px solid var(--bg-color-second);
}

.container--information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 19px 20px;
}

.header-information__logo {
    max-width: 258px;
    height: 80px;
    display: flex;
}
.ab {
    display: flex;
}
.header-information__title {
    font-weight: var(--font-weight-title);
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: var(--bg-color-btn);
    margin: auto 0 auto 20px;
}

.header-information__connection {
    border: 2px solid var(--bg-color-btn);
    border-radius: 20px;
    width: 170px; 
    height: 40px;
}

.header-information__telephone {
    font-size: 16px;
    line-height: var(--line-height-telephone);
}

.header-information__contact a {
    color: var(--color-main);
}

.header-information__logo a {
    color: var(--bg-color-btn);
}

.header-information__contact {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.main-menu__link {
    font-size: 16px;
    line-height: var(--line-height-telephone);
    color: var(--color-main);
}

.main-menu {
    padding: 30px 0;
}

.main-menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.main-stock {
    background-color: var(--bg-color-btn);

}

.container--stock {
    color: var(--bg-color-basic);
    align-content: flex-start;
    width: 1150px;
}

.main-stock__image {
    object-fit: cover;
    display: block;
}

.main-stock__item {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 604px;
    background-image: url(../image/Rectangle2.svg);
    background-position: center;
}

.main-stock__title {
    font-weight: var(--font-weight-title);
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px; 
}

.main-stock__description {
    line-height: 20px;
}

.main-stock__btn {
    border-radius: 20px;
    border: 2px solid var(--bg-color-basic);
    margin-top: 44px;
    max-width: 170px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
}

.container--title {
    max-width: 308px;
    padding: 0;
    margin: 192px 0;
}

.main-special {
    background-color: var(--bg-color-second);
}

.main-special__title {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-h2);
    padding-top: 80px;
}

.main-spacial__goods {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-special__item {
    max-width: 255px;
    background-color: var(--bg-color-basic);
    padding: 25px 30px;
    text-align: center;
}

.main-special_image {
    text-align: center;
    
}

.main-special__description {
    line-height: 20px;
    color: var(--color-nav);
    margin-top: 13px;
}

.main-special__price {
    line-height: var(--line-height-telephone);
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: var(--font-size-price);
    margin-top: 14px;
}

.main-special__btn {
    max-width: 130px;
    border-radius: 20px;
    background-color: var(--bg-color-btn);
    color: var(--bg-color-basic);
    margin: 15px auto 0;
    height: 35px;
}

.container-shops {
    padding: 36px 45px 31px 40px;
    background-color: var(--bg-color-btn);
    width: 540px;
    display: flex;
    gap: 65px;
    align-items: center;
}

.main-shops {
    padding-top: 100px;
    background-color: var(--bg-color-second);
    
}
.container--shops {
    display: flex;
    gap: 30px;
    
}
input {
    border-radius: 20px;
    border: none;
    padding: 0 41px 0 25px;
    line-height: 35px;
}

.main-shops__articles {
    width: 250px;
    color: var(--bg-color-basic)
}

.main-shops__title {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: 21px;
}
 .main-shops__description {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
 }

 .main-shops__link {
    width: 170px;
    border: 2px solid var(--bg-color-basic);
    border-radius: 20px;
 }

 .main-brands__image {
    width: 25%;
    height: calc(357px / 3);
    background-color: var(--bg-color-basic);
    border: 1px solid var(--bg-color-second);
    align-items: center;
    display: flex;
    justify-content: space-around;
 }

 .container--brands {
    display: flex;
    flex-wrap: wrap;
 }

 .main-brands {
    padding-top: 104px;
    background-color: var(--bg-color-second);
    margin-bottom: -2px;
 }

.special--goods {
    padding-bottom: 80px;
}

.main-brands__link {
    padding: 35px 67px;
}