:root {
    --font-family: 'Roboto', sans-serif;

    --font-size-descroption: 14px;
    --font-size-title: 18px;
    --font-size-h2: 24px;
    --font-size-price: 21px;
    --font-size-footer: 12px;

    --font-weight-title: 700;

    --line-hight-total: 1.172;
    --line-hight-footer: 2.333;
    --line-height-telephone: 1.187;

    --bg-color-btn: #f13c6e;
    --bg-color-second: #efefef;
    --bg-color-basic: #fff;

    --color-nav: #333333;
    --color-h1: #ffffff;
    --color-main: #000000;
    --color-footer: #828282;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size-descroption);
    line-height: var(--line-hight-total);
    color: var(--color-main);
    background-color: var(--bg-color-basic);
}

h1 {
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--bg-color-basic);
    line-height: 35px;
}

li {
    list-style-type: none;
}

input {
    border-radius: 20px;
    border: none;
    padding: 0 41px 0 25px;
    line-height: 35px;
}

.header-nav {
    background-color: var(--bg-color-second);
    min-height: 50px;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.container--nav {
    padding: 17px 20px 16px;
}

.header-nav__list {
    display: flex;
    gap: 31px;
    justify-content: center;
    flex-wrap: wrap;
}

.header-nav__link {
    color: var(--color-nav);
    line-height: 16px;
    font-size: var(--font-size-descroption);
}

.header-information {
    border-bottom: 1px solid var(--bg-color-second);
}

.container--information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 19px 20px;
}

.header-information__logo {
    max-width: 258px;
    height: 80px;
    display: flex;
}

.header-information__logo a {
    color: var(--bg-color-btn);
}

.header-information__link {
    display: flex;
}

.header-information__title {
    font-weight: var(--font-weight-title);
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: var(--bg-color-btn);
    margin: auto 0 auto 20px;
}

.header-information__contact {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.header-information__contact a {
    color: var(--color-main);
}

.header-information__telephone {
    font-size: 16px;
    line-height: var(--line-height-telephone);
}

.header-information__connection {
    border: 2px solid var(--bg-color-btn);
    border-radius: 20px;
    max-width: 170px;
    min-height: 40px;
    padding: 0 24px;
}

.nav-bottom {
    padding: 30px 0;
}

.nav-bottom__list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.nav-bottom__link {
    font-size: 16px;
    line-height: var(--line-height-telephone);
    color: var(--color-main);
}

.main-stock {
    background-color: var(--bg-color-btn);

}

.main-stock__item {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 604px;
    background-image: url(../image/Rectangle2.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.container--stock {
    color: var(--bg-color-basic);
    align-content: flex-start;
    width: 1150px;
}

.container--title {
    padding: 0;
    margin: 192px 0;
}

.main-stock__title {
    font-weight: var(--font-weight-title);
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
}

.main-stock__description {
    line-height: 20px;
}

.main-stock__btn {
    border-radius: 20px;
    border: 2px solid var(--bg-color-basic);
    margin-top: 44px;
    max-width: 170px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
}

.main-special {
    background-color: var(--bg-color-second);
}

.main-special__title {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-h2);
    padding-top: 80px;
}

.main-special__goods {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-special__item {
    max-width: 255px;
    background-color: var(--bg-color-basic);
    padding: 25px 30px;
    text-align: center;
}

.main-special__image {
    text-align: center;

}

.main-special__description {
    line-height: 20px;
    color: var(--color-nav);
    margin-top: 13px;
}

.main-special__price {
    line-height: var(--line-height-telephone);
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: var(--font-size-price);
    margin-top: 14px;
}

.main-special__btn {
    max-width: 130px;
    border-radius: 20px;
    background-color: var(--bg-color-btn);
    color: var(--bg-color-basic);
    margin: 15px auto 0;
    min-height: 35px;
}

.main-shops {
    padding-top: 100px;
    background-color: var(--bg-color-second);
}

.container--shops {
    display: flex;
    gap: 30px;
}

.container-section {
    padding: 36px 45px 31px 40px;
    background-color: var(--bg-color-btn);
    width: 540px;
    display: flex;
    gap: 65px;
    align-items: center;
}

.main-shops__articles {
    width: 250px;
    color: var(--bg-color-basic)
}

.main-shops__title {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: 21px;
}

.main-shops__description {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.main-shops__link {
    width: 170px;
    border: 2px solid var(--bg-color-basic);
    border-radius: 20px;
}

.main-brands {
    padding-top: 104px;
    background-color: var(--bg-color-second);
    margin-bottom: -2px;
}

.container--brands {
    display: flex;
    flex-wrap: wrap;
}

.main-brands__image {
    width: 25%;
    height: calc(357px / 3);
    background-color: var(--bg-color-basic);
    border: 1px solid var(--bg-color-second);
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.main-brands__link {
    padding: 35px 67px;
}

.main-viewed {
    background-color: var(--bg-color-second);
}

.special--goods {
    padding-bottom: 78px;
}

.main-viewed__title {
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-h2);
    padding-top: 80px;
}

.main-viewed__goods {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-viewed__item {
    max-width: 255px;
    background-color: var(--bg-color-basic);
    padding: 25px 30px;
    text-align: center;
}

.main-viewed__image {
    text-align: center;

}

.main-viewed__description {
    line-height: 20px;
    color: var(--color-nav);
    margin-top: 13px;
}

.main-viewed__price {
    line-height: var(--line-height-telephone);
    font-weight: 500;
    letter-spacing: 0.05em;
    font-size: var(--font-size-price);
    margin-top: 14px;
}

.main-viewed__btn {
    max-width: 130px;
    border-radius: 20px;
    background-color: var(--bg-color-btn);
    color: var(--bg-color-basic);
    margin: 15px auto 0;
    min-height: 35px;
}

.container--popular {
    padding-top: 61px;
    padding-bottom: 22px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-popular__article {
    max-width: 255px;
}

.footer-popular__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 21px;
}

.footer-popular__list {
    padding: 26px 0;
    border-top: 1px solid var(--bg-color-second);
}

.footer-popular__link {
    font-size: var(--font-size-footer);
    line-height: var(--line-hight-footer);
    color: var(--color-footer);
}

.footer-popular__link a {
    color: var(--color-footer);
    text-align: left;
    line-height: 28px;
}

.footer-social {
    border-top: 1px solid var(--bg-color-second);
}

.container--social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 38px auto 38px auto;
    align-items: flex-end;
}

.footer-social__logo {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.footer-social__item {
    width: 45px;
    height: 45px;
}

.footer-social__item a {
    line-height: 0;
}

.footer-social__image {
    position: relative;
}

.footer-social__vk {
    position: relative;
    bottom: 30px;
}

.footer-social__child {
    position: relative;
    bottom: 33px;
}

.footer-information__contact {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-information__contact a {
    color: var(--color-main);
}

.footer-information__telephone {
    font-size: 16px;
    line-height: var(--line-height-telephone);
}

.footer-information__connection {
    border: 2px solid var(--bg-color-btn);
    border-radius: 20px;
    width: 170px;
    min-height: 40px;
}

.footer-politics {
    background-color: var(--bg-color-second)
}

.container--politics {
    min-height: 64px;
    font-size: var(--font-size-footer);
    line-height: 14px;
    color: var(--color-footer);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-politics__link {
    color: var(--color-footer);
}

@media (max-width: 1152px) {
    .container--shops {
        display: block;
    }
}